@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ANKET OLUŞTUR</h1>
    <p class="lead">HAZIRLAYAN : ALİ EMRE BÖLÜKBAŞI-180508014</p>
    <p><a href="/sorular/sorular" class="btn btn-primary btn-lg">OLUŞTUR &raquo;</a></p>
</div>

